aiofiles
aiosqlite
alembic
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asttokens==2.2.1
attrs
Babel
backcall
bcrypt
beautifulsoup4
bleach
blinker
brotlipy
certifi
cffi
charset-normalizer
click
colorama
comm
copier
cryptography
debugpy==1.6.7
decorator
defusedxml
dnspython
dunamai
email-validator1
entrypoints
executing
fastjsonschema
Flask
Flask-Bcrypt
Flask-CKEditor
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF


1
funcy==2.0
greenlet
gunicorn
h11
httpcore
httpx
idna
ipykernel=
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jinja2-ansible-filters
json5
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
lxml
Mako
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
oauthlib
packaging=
pandocfilters
parso
pathspec

Pillow
platformdirs
plumbum
ply
prometheus-client
prompt-toolkit
psutil
psycopg2
pure-eval
pycparser
pydantic
pydantic_core
Pygments
pyOpenSSL
pypng
PyQt5
PyQt5-sip
pyrsistent
PySocks
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyyaml-include
pyzmq
qrcode
qtconsole
QtPy
questionary
repath
requests
rfc3339-validator
rfc3986-validator
Send2Trash
sip
six
sniffio
soupsieve
SQLAlchemy
stack-data
terminado
tinycss2
toml
tornado
traitlets
typing_extensions
urllib3
watchdog
wcwidth
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
win-inet-pton
WTForms
y-py
ypy-websocket
