aiofiles
aiosqlite
alembic==1.12.1
annotated-types==0.5.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens==2.2.1
attrs
Babel
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4
bleach
blinker==1.7.0
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click==8.1.7
colorama==0.4.6
comm==0.1.3
copier==8.3.0
cryptography
debugpy==1.6.7
decorator==5.1.1
defusedxml
dnspython==2.4.2
dunamai==1.18.0
email-validator==2.1.0.post1
entrypoints
executing==1.2.0
fastjsonschema
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-CKEditor==0.5.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flet==0.10.1
flet-core==0.10.1
flet-runtime==0.10.1
funcy==2.0
greenlet==3.0.1
gunicorn==21.2.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna
ipykernel==6.25.0
ipython==8.14.0
ipython-genutils
ipywidgets
itsdangerous==2.1.2
jedi==0.18.2
Jinja2
jinja2-ansible-filters==1.3.2
json5
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
lxml
Mako==1.3.0
MarkupSafe
matplotlib-inline==0.1.6
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio==1.5.6
notebook
notebook_shim
oauthlib==3.2.2
packaging==23.1
pandocfilters
parso==0.8.3
pathspec==0.11.2
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.9.1
plumbum==1.8.2
ply==3.11
prometheus-client
prompt-toolkit
psutil==5.9.5
psycopg2==2.9.9
pure-eval==0.2.2
pycparser
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.15.1
pyOpenSSL
pypng==0.20220715.0
PyQt5==5.15.7
PyQt5-sip
pyrsistent
PySocks
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyyaml-include==1.3.1
pyzmq==25.1.0
qrcode==7.4.2
qtconsole
QtPy
questionary==2.0.1
repath==0.9.0
requests
rfc3339-validator
rfc3986-validator
Send2Trash
sip
six==1.16.0
sniffio
soupsieve
SQLAlchemy==2.0.23
stack-data==0.6.2
terminado
tinycss2
toml
tornado==6.3.2
traitlets==5.9.0
typing_extensions
urllib3
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.3
websockets==11.0.3
Werkzeug==3.0.1
widgetsnbextension
win-inet-pton
WTForms==3.1.1
y-py
ypy-websocket
