{% extends "layout.html" %} {% block content %}
<div class="container mt-5">
  <h2 class="mb-4">🚀 Welcome to Flogger</h2>
  <p>Flogger, where words take flight and stories find their home. 📚✨</p>
  <p>
    👨‍💻 I developed it as my first Flask project and stealing lots of code from the internet. Since then, it has grown into a thriving
    community of thinkers, dreamers, and storytellers.
  </p>
  <p>
    🌟 Our mission? To provide a boundless platform where unique perspectives,
    experiences, and imaginations collide. Whether you're a seasoned wordsmith
    or dipping your quill for the first time, Flogger welcomes you to our
    vibrant community.
  </p>
  <p>
    🚀 At Flogger, we believe in the transformative power of words. Our goal is
    to create an environment where creativity knows no bounds, and every voice
    resonates with the world.
  </p>
  <p>
    🌈 Join us on this extraordinary journey of exploration, expression, and
    storytelling. Let your ideas soar, and let Flogger be the canvas for your
    narratives.
  </p>
  <p>
    🎉 Embrace the magic of storytelling at Flogger — where every word is an
    adventure waiting to unfold!
  </p>
</div>
<div class="container mt-5">
  <h2 class="mb-4">For My Coding Enthusiasts 🖥️</h2>
  <p>
    🧑‍💻 Dive into the technical underpinnings of Flogger, where coding meets
    creativity!
  </p>
  <p>
    📦 Flogger is built using Flask, a powerful Python web framework. Our code
    is organized and modularized, following best practices to ensure scalability
    and maintainability.
  </p>
  <p>
    🔐 User authentication is handled securely with Flask-Login, while passwords
    are hashed using Flask-Bcrypt to keep your data safe.
  </p>
  <p>
    📧 Email functionality is powered by Flask-Mail, allowing us to seamlessly
    handle account-related communications and password resets.
  </p>
  <p>
    📝 Content creation is made dynamic and user-friendly with Flask-WTF for
    form handling and Flask-CKEditor for integrating the CKEditor for rich text
    editing.
  </p>
  <p>
    🌐 Flogger uses SQLAlchemy as the ORM to interact with the SQLite database,
    ensuring efficient and reliable data storage.
  </p>
  <p>
    🌈 Styling and layout are enhanced with Bootstrap, making Flogger not just a
    functional platform but also a visually appealing one.
  </p>
  <p>
    🚀 Every line of code is crafted with passion and precision, aiming to
    provide a seamless and enjoyable experience for both writers and readers.
  </p>
  <p>
    🎉 Explore the Flogger source code on
    <a
      href="https://github.com/AbhishekT-2002/Flask-Blog"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub</a
    >
    and join us in shaping the future of storytelling in the digital age!
  </p>
</div>
{% endblock %}
