{% extends "layout.html" %} {% block content %}
<div class="container mt-5">
  <h2>Contact Me</h2>
  <p class="lead">Feel free to connect with me through various channels:</p>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Made with ❤ by</h5>
      <p class="card-text">Abhishek Tiwari</p>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">About Me 👨‍💻</h5>
      <p class="card-text">
        A passionate developer with a love for Python. I am also a Machine
        Learning enthusiast and Kaggle Expert. Flogger was my introduction to
        Flask and as stupid as it sounds I decided to make a fully fledged
        blogging web app using flask. I did not know a thing about flask, All I
        knew was lots of python and how to google. This project is open source
        and you can find it on GitHub.
        Thanks for taking the time to read this. Have a nice day! <br><br>
        <i>ps. if you have any feedback or suggestions, feel free to contact me.</i>
      </p>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">GitHub 🔗</h5>
      <p class="card-text">
        <a href="https://github.com/AbhishekT-2002" target="_blank"
          >Click here to view the code for Flogger</a
        >
      </p>
    </div>
  </div>

  <div class="mt-5">
    <div class="social-icons">
      <a href="https://twitter.com/4getabhi" target="_blank" class="social-icon"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="https://github.com/AbhishekT-2002" target="_blank" class="social-icon"
        ><i class="fab fa-github"></i
      ></a>
      <a href="https://www.instagram.com/forgotabhi" target="_blank" class="social-icon"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/tiwarey/" target="_blank" class="social-icon"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="https://www.kaggle.com/forgetabhi" target="_blank" class="social-icon"
      ><i class="fab fa-kaggle"></i
    ></a>
    
    </div>
  </div>
</div>
{% endblock content %}
