{%extends "layout.html"%}
    {%block content%}
      {%if current_user.is_authenticated%}
        <h2>Welcome back, {{current_user.username}}</h2>
      {%else%}
        <h2>Welcome</h2>
      {%endif%}
        {% for post in posts%}
        <article class="media content-section">
          <img src="{{url_for('static', filename = 'profile_pics/' + post.author.img_file)}}" alt="Pfp" class="rounded-circle article-img">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%d/%b/%Y, %H:%M') }}</small>
              </div>
              <h2><a class="article-title" href="{{url_for('post', post_id = post.id)}}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
          </article> 
        {%endfor%}
    {%endblock content%}
